@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-primary: #FFFFFF;
        --text-primary: #000000;
        --side-bg-primary: #9ca3af;

    }
}
/*Colors*/
